workflow_input_url: https://s3-us-west-2.amazonaws.com/landsat-pds/L8/010/117/LC80101172015002LGN00/LC80101172015002LGN00_BQA.TIF
workflow_input_file: LC80101172015002LGN00_BQA.TIF
workflow_product_id: dumby-product-20210622191038567000
workflow_min_sleep: 30
workflow_max_sleep: 60
workflow_aws_access_key_id: 
workflow_aws_secret_access_key: 
workflow_base_dataset_url: s3://hysds-dataset-bucket-gman-test/test
